/* ==== Sub Content ==== */

.home-title {
	font: 80px/85px 'Baumans', sans-serif;
	text-transform: uppercase;
	width: 500px;
	position: relative;

}

.sub-title {
	color: #89c758;
}

.join{

	text-align: center;
}

.join p{
	text-align: center;
}

.join-button{
	margin-top: 30px;
	padding: 10px 25px;
}

#subcontent .join-button a{
	color: #fff;
	font-size: 25px;
	text-decoration: none;
	background-color: #58c75e;
	padding: 10px 27px;
	border-radius: 5px;
}

#subcontent .join-button a:hover {
	background-color: #89c758;
}


/* ==== Partners ==== */

.partners-block {
	padding-bottom: 10px;
}

#partners img {
	margin: 15px;
}

/* ==== Membros ====*/
.membros-even {
    background-color: #ffffff;

}
.members-description {
    min-height: 290px;
}
