{% extends "utils/base.html"%}
{% block content %}

<div id="subcontent">
            		<h2>Contato</h2>
            		<div class="clear"></div>
		</div> <!-- End subcontent id -->
		
</div> <!--- End content id --->

		<div id="aviso">
			<h6> Site em desenvolvimento </h6>
		</div><!-- End aviso id --->
		<div id="content">	
            		<form>
				<label>E-mail:</label>
				<input name="email" type="email">
				<label>Mensagem:</label>
				<textarea name="message"></textarea>
				<button name="submit" type="submit">Enviar</buton> 
			</form> 
			
		
{% endblock %}
