{% extends "util/base.html"%}
{% block content %}
 			<div class="entry-content clearfix">
            	<div class="half left">
			<h3>Lorem Ipsum</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pretium tempor arcu sed tincidunt. Ut rutrum tincidunt lectus vitae consequat. Nunc dignissim feugiat velit a porta. Morbi accumsan suscipit tortor sit amet condimentum. Donec interdum nibh at dignissim hendrerit. Mauris placerat aliquam dui, ut porta dui interdum in. Nulla interdum sed metus vel accumsan. Praesent ut viverra orci, ac cursus nisi. Morbi sit amet vehicula lectus, eu vestibulum nisl. Etiam ac eros bibendum, gravida ipsum a, cursus felis. Nam sed mauris rhoncus, porttitor tellus vel, vehicula sapien. Mauris at vulputate mi, nec semper neque. Nam suscipit tempor diam, et sagittis quam ultrices sed. Aenean porta massa quis orci lobortis, at porttitor diam porttitor. Nulla in ornare dui.</p>
              	</div>
              	<div class="half right">
			<h3>Lorem Ipsum</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pretium tempor arcu sed tincidunt. Ut rutrum tincidunt lectus vitae consequat. Nunc dignissim feugiat velit a porta. Morbi accumsan suscipit tortor sit amet condimentum. Donec interdum nibh at dignissim hendrerit. Mauris placerat aliquam dui, ut porta dui interdum in. Nulla interdum sed metus vel accumsan. Praesent ut viverra orci, ac cursus nisi. Morbi sit amet vehicula lectus, eu vestibulum nisl. Etiam ac eros bibendum, gravida ipsum a, cursus felis. Nam sed mauris rhoncus, porttitor tellus vel, vehicula sapien. Mauris at vulputate mi, nec semper neque. Nam suscipit tempor diam, et sagittis quam ultrices sed. Aenean porta massa quis orci lobortis, at porttitor diam porttitor. Nulla in ornare dui.</p>
                </div>
            </div> <!-- End entry-content class -->
            <div class="members-block">
                <h3>Membros</h3> 
                <div id="members">
                    <img src="" width="100" height="30" style="background: #fff; border-size: 1px;" alt="Startup 1">
                    <img src="" width="100" height="30" style="background: #fff; border-size: 1px;" alt="Startup 2">
                    <img src="" width="100" height="30" style="background: #fff; border-size: 1px;" alt="Startup 3">
                    <img src="" width="100" height="30" style="background: #fff; border-size: 1px;" alt="Startup 4">
                    <img src="" width="100" height="30" style="background: #fff; border-size: 1px;" alt="Startup 5">
                    <img src="" width="100" height="30" style="background: #fff; border-size: 1px;" alt="Startup 6">
                    <img src="" width="100" height="30" style="background: #fff; border-size: 1px;" alt="Startup 7">
                </div> <!-- End members id -->
            </div> <!-- End members-block class -->
{% endblock}