{% extends "utils/base.html"%}
{% block content %}
<div id="subcontent">
       		<h2>Membros</h2>
       		<div class="clear"></div>
		</div> <!-- End subcontent id -->
		
		<div id="content">	
			<section>
				<h3>Colaboradores</h3>
				<ul>
					<li>Colaborador</li>
					<li>Empresa</li>
					<li>Instituição Acadêmica</li>
					<li>Instituição Governamental</li>
				</ul>
			</section>

			
            	
				<img src="{{ STATIC_URL }}img/construcao.jpg" alt="Em construção">


		</div> <!--- End content id --->
{% endblock %}
