{% extends "utils/base.html"%}
{% block content %}
<div id="subcontent">
            		<h2>Sobre</h2>
            		<div class="clear"></div>
		</div> <!-- End subcontent id -->
		
		<div id="content">	
            		<section><h3>Equipe</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vel mi sed tellus semper sollicitudin. Sed mattis augue sed nisi bibendum molestie vel vitae quam.</p></section>
			
			<section><h3>Histórico</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vel mi sed tellus semper sollicitudin. Sed mattis augue sed nisi bibendum molestie vel vitae quam.</p></section>

			<section><h3>Metodologia</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vel mi sed tellus semper sollicitudin. Sed mattis augue sed nisi bibendum molestie vel vitae quam.</p></section>
		</div> <!--- End content id --->
{% endblock %}
