{% extends "utils/base.html"%}
{% block content %}
<div id="subcontent">
            		<h2>Editais</h2>
			<ul class="right">
				<li><b><a href>Outros Links</a></b>
				<ul>
					<li><a href="{% url "noticias" %}">Notícias</a></li>
					<li><a href="{% url "politicas" %}">Políticas Públicas</a></li>
				</ul>
				</li>
			</ul>
            		<div class="clear"></div>

		</div> <!-- End subcontent id -->

		<div id="content">

            {% for edital in editais %}
                {% include "_link.html" with link=edital %}
            {% endfor %}

		</div> <!--- End content id --->
{% endblock %}
